*.o
*.d
*.a
.vscode
_deps
sandbox/_deps
lib

.ninja_deps
.ninja_log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Cmake filed & ninja files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
Makefile.in
build.ninja

.ninja_deps
.ninja_log